jobs:
  - job: MacOS
    pool:
      vmImage: macOS-10.13
    steps:
      - template: darwin/continuous-build-darwin.yml

  - job: Windows
    pool:
      vmImage: win1803
    steps:
      - template: win32/continuous-build-win32.yml

  - job: Linux
    pool:
      vmImage: ubuntu-16.04
    steps:
      - template: linux/continuous-build-linux.yml

  - job: PublishDropFile
    dependsOn:
      - MacOS
      - Windows
      - Linux
    condition: and(succeeded('MacOS'), succeeded('Windows'), succeeded('Linux'))
    pool:
      vmImage: "ubuntu-16.04"

    steps:
      - task: UsePythonVersion@0
        displayName: "Use Python 3.6"
        inputs:
          versionSpec: 3.6
          addToPath: true
          architecture: "x64"

      - powershell: |
          echo $(BUILD.SOURCEBRANCH)
          if ("$(BUILD.SOURCEBRANCH)" -match "^refs/tags/v?[0-9]+\.[0-9]+\.[0-9]+$") { ((Get-Content -path "$(BUILD.REPOSITORY.LOCALPATH)\iotedgehubdev\__init__.py" -Raw) -replace "__AIkey__ = '.*'","__AIkey__ = '$(AI_KEY)'") | Set-Content -Path "$(BUILD.REPOSITORY.LOCALPATH)\iotedgehubdev\__init__.py" }
        displayName: "Replace AI Key for PROD"

      - script: |
          pip install setuptools
          pip install wheel
          pushd $(BUILD.REPOSITORY.LOCALPATH)
          python setup.py bdist_wheel
          popd
        displayName: "Build drop file"

      - task: CopyFiles@2
        inputs:
          SourceFolder: $(BUILD.REPOSITORY.LOCALPATH)/dist
          TargetFolder: $(Build.ArtifactStagingDirectory)
        displayName: "Copy Files to: build artifact staging directory"

      - task: PublishBuildArtifacts@1
        inputs:
          pathtoPublish: $(Build.ArtifactStagingDirectory)
          artifactName: build-artifact-drop
