jobs:
  - job: Linux
    pool:
      vmImage: ubuntu-1604
    steps:
      - template: linux/continuous-build-linux.yml

  - job: Windows
    pool:
      vmImage: win1803
    steps:
      - template: win32/continuous-build-win32.yml

  - job: macOS
    pool:
      vmImage: xcode9-macos10.13
    steps:
      - template: darwin/continuous-build-darwin.yml
