jobs:
  - job: Linux
    pool:
      vmImage: ubuntu-16.04
    steps:
      - template: linux/continuous-build-linux.yml

  - job: Windows
    pool:
      vmImage: win1803
    steps:
      - template: win32/continuous-build-win32.yml

  - job: macOS_Py27
    pool:
      vmImage: xcode9-macos10.13
    steps:
      - template: darwin/continuous-build-darwin-py27.yml

  - job: macOS_Py36
    pool:
      vmImage: xcode9-macos10.13
    steps:
      - template: darwin/continuous-build-darwin-py36.yml
