autopep8
backports.unittest-mock
click
docker[ssh]>=5.0
flake8
pyOpenSSL>=20.0.1
python-dotenv
requests>=2.25.1
applicationinsights
prompt_toolkit
rope
tox
pyyaml==5.4.1
jsonpath_rw
docker-compose==1.29.0
pytest
pyinstaller==4.2
urllib3>=1.26.4
