autopep8
backports.unittest-mock
click
docker[ssh]>=3.6.0
flake8
pyOpenSSL>=17.0.0
python-dotenv
requests>=2.6.1, !=2.11.0, !=2.12.2, !=2.18.0, <=2.21
six
applicationinsights
prompt_toolkit
rope
tox
pyyaml>=3.10, !=3.13, <=5.4
jsonpath_rw
docker-compose>=1.21.0, <=1.26.2
pytest
pyinstaller<=3.5
pywin32==227;platform_system=="Windows"