autopep8
backports.unittest-mock
click
docker[ssh]>=3.6.0,<4.0
flake8
pyOpenSSL>=17.0.0
python-dotenv
requests<2.21,>2.19.1
six
applicationinsights
prompt_toolkit
rope
tox
pyyaml>=3.10,<4.3
jsonpath_rw
docker-compose>=1.21.0,<=1.24.0
pytest